$color-fondo: #9eb07c;
$color-navbar: #fbe5c6;
$color-footer: #51598e;
$color-boton: #669966;
$color-galeria: #fdfbe4;
$color-titulo: #7fffd4;
$color-card: white;
$texto-oscuro: #333;
$gris-borde: #aaa;
$sombra: 0 0 10px rgba(0, 0, 0, 0.1);